.container {
	margin-top: 2px;
	padding-top: 4px;
}

body {
	font-family: Helvetica;
}


#heading {
	text-align: center;
	height: 75px;
	margin-bottom: 10px;
	border-bottom: 1px double #111111;
}


#title {
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}
#details_container {
	/*background-color: #efefef;*/
	border: 1px double #a1a1a1;
	height: 235px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 16px;
}

	#map_box {
/*		border: 1px solid red;
*/		height: 100%;
	}

.image {
	max-width: 300px;
	max-height: 300px;
}

	#docs_compare_box {
		margin-top: 25px;
	}
		.bs-example {
			border: 1px solid #ddd;
		}
			.table {
				margin-bottom: 0px;
			}
	
				.matching {
					color: green;
				}

				.not-matching {
					color: red;
				}
span {
	margin-right: 3px;
}
	.glyphicon-ok {
		color: green;
	}

	.glyphicon-remove {
		color: red;
	}

	/*.glyphicon-link {
		margin-left: 40px;
	}*/

	#owner_box {
		height: 100%;
	}




#other_prop_details_container {
	height: 90px;
	margin-bottom: 20px;
}

	.other_details_box {
		height: inherit;
		padding-left: 2px;
		padding-right: 2px;
	}

	.other_details_box_inner {
		height: inherit;
		border: 1px solid #e1e1e1;
		text-align: center;
		padding-top: 5px;

	}

	.details_box_title {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold; 
	}

		.glyphicon-thumbs-up {
			font-size: 26px;
			display: inline-block;
			color: green;
		}

		.glyphicon-thumbs-down {
			font-size: 26px;
			display: inline-block;
			color: red;
		}

		.glyphicon-ban-circle {
			font-size: 26px;
			display: inline-block;
			color: blue;
		}

		.details_box_text {
			font-size: 12px;
			font-weight: normal;
			text-align: center;
			display: inline-block;
			position: relative;
    		top: -7px;
    		margin-bottom: 0px;
		}

		.bill_link {
			display: inline-block;
			float: left;
			margin-top: 10px;
			position: relative;
			left: -5px;
			color: #808080

		}

		.bill_text {
			margin-top: 10px;
			font-size: 12px;
			/*position: relative;
			left: -38px;*/
			color: #808080;
			text-align: left;
			display: inline;
		}


#top-panel {
	margin-top: 85px;
}

#top-panel-utilities {
	margin-top: 100px;
}

.link_columns { 
	width: 5px;
}

.details_link {
	position: relative;
	left: 40px;
}

.panel-heading {
	font-size: 15px;
	font-weight: bold;
}


.bs-example{
	border: none;
}

.amenities_bills {
	margin-top: 20px;
	margin-left: 60px;
}


#documents_list_box {
	border: 2px solid #E4D946;
	border-radius: 4px;
	height: 530px;
	margin-bottom: 20px;
}

.list_group {
	margin-top: 10px;
}

#documents_list_title {
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}

#documents_list {
	font-size: 14px;
	line-height: 25px;
}

#index_property_list {
	list-style: none;
}

#property_list_box {
	border: 2px solid #E4D946;
	border-radius: 4px;
	height: 530px;
	margin-bottom: 0px;
}

#sections_in {
	border: 2px solid #E4D946;
	border-radius: 4px;
	height: 530px;
	margin-bottom: 10px;
}

#sections_list {
	margin-top: 10px;
}


.chain_body {
	height: 150px;
	margin-bottom: 10px;

}

.chain_owner_box {
	border: 1px solid #a1a2a3;
	height: 150px;
	clear: both;
}

.chain_transaction_box {
	/*border: 1px solid #a1a2a3;
	height: 150px;*/
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #000;
	margin: auto;
}
.arrow-tail {
	width: 10px;
	height: 60px;
	background-color: #000;
	margin: auto;
	margin-top: 30px;
}

.chain_table {
	font-size: 11px;
}

.table>tbody>tr>td {
	padding-left: 8px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;


}

.panel {
	min-height: 43px;
}
.panel_title_from {
	display: inline;
}
.panel_title_to {
	float: right;
}


.chain_box_title {
	text-align: center;

}
.chain_box_title_text{
	font-size: 14px;
}

.ownership_div {
	border: 2px solid #E4D946;
	border-radius: 4px;
	height: 530px;
	margin-bottom: 20px;
}

.ownership_div_boxes {
	border: 2px solid #69B4FF;
	border-radius: 2px;
	height: 100px;
	margin-top: 20px;
	text-align: center;
}

.ownership_box_title {
	font-size: 15px;
	font-weight: bold;

}

.ownership_div {
	padding-left: 5px;
}
.ownership_div_title {
	font-weight: bold;
	font-size: 16px;
}

.owner_box_lists {
	list-style: none;
	margin-left: none;
	padding-left: 0px;
	text-align: left;
	margin-left: 15px;
}

.owner_box_listitems {

}

/*
.modal {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
display: block; 
overflow: auto;
overflow-y: scroll;
}*/